@font-face {
  src: url('../../../public/fonts/Inter-Regular.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 400;
}

@font-face {
  src: url('../../../public/fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-family: 'Manrope';
  font-weight: 800;
}

@font-face {
  src: url('../../../public/fonts/Manrope-Bold.ttf') format('truetype');
  font-family: 'Manrope';
  font-weight: 700;
}

@font-face {
  src: url('../../../public/fonts/Manrope-Semibold.ttf') format('truetype');
  font-family: 'Manrope';
  font-weight: 600;
}

@font-face {
  src: url('../../../public/fonts/Manrope-Medium.ttf') format('truetype');
  font-family: 'Manrope';
  font-weight: 500;
}

@font-face {
  src: url('../../../public/fonts/Manrope-Regular.ttf') format('truetype');
  font-family: 'Manrope';
  font-weight: 400;
}

@font-face {
  src: url('../../../public/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-family: 'Poppins';
  font-weight: 600;
}

@font-face {
  src: url('../../../public/fonts/PublicSans-Bold.ttf') format('truetype');
  font-family: 'Public Sans';
  font-weight: 700;
}

@font-face {
  src: url('../../../public/fonts/PublicSans-Regular.ttf') format('truetype');
  font-family: 'Public Sans';
  font-weight: 400;
}
