@import url(./fonts.scss);

:root {
    /* fonts */
    --font: 'Manrope', 'Arial', 'sans-serif';
 
    /* colors */
    --blue-1: #5B96F7;
    --blue-2: #709CE6;
    --blue-3: #EAF2FE;
    --blue-4: #F0F4FA;
    --blue-5: #F8FAFF;
    --orange: #FF9900;
    --red: #FF4842;
    --green-light: #76D45E;
    --green: #35C677;
    --orange_pale: #FCEFDC;
    --grey_1: #515151;
    --grey_2: #686768;
    --grey_3: #696969;
    --grey_4: #7C7C7D;
    --grey_5: #888;
    --grey_6: #B4B4B4;
    --white: #fff;
    --black: #030303;
    --bg: #F9FAFE;
}